.navbar{
    width: 100vw;
    height: 5vh;
    background-color: #fff;
    display: flex;
    position: fixed;
    top:0;
    overflow: hidden;
}
.navbar>a{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    cursor: pointer;
    line-height: 1rem;
    text-decoration: none;
    color: black;
}