body{
    margin: 0;
    padding: 0;
    padding-top: 5vh;
    box-sizing: border-box;
    background-color: black;
}

*{
    -ms-overflow-style: none;
    scrollbar-width: none; 
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}